
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    background-color: whitesmoke;
    /* margin: 0.5em; */
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

a {
    font-family: 'PT Serif', serif;
}

p {
    color:black;
    font-family: 'PT Serif', serif;
    text-align: center;
}
nav a:hover {
    text-decoration: none;
    font-weight:bold;
}
nav a:visited{
    text-decoration: none;
    color: white;
}

h1 {
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: white;
    align-content: center;
    font-family: 'PT Serif', serif;
}

header {
    color: white;
    font-size: 36px;
    background-color: #f08a4b;
    text-align: center;
    padding: 0.75rem;
    margin: 0 auto;
    /* max-width: 735px; */
    font-family: 'PT Serif', serif;
}

.logo {
    width: 50px;
}

main img {
    width: 500px;
}

article {
    border:1px #f08a4b;
    text-align: center;
}

article {
    background-color: #f08a4b;
    padding: 0.5em;
    margin-bottom: 1em;
    padding: 0.75rem;
    margin: 0 auto;
}

li {
    float: left;
    text-align: center;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
     margin: 10px 5px; 
    list-style: none;
     padding-left: 0; 
}

li a {
    text-decoration: none;
}
/* class selectors */
.hidden {
    display: none;
}

ul {
    background-color: #f3ca40;
    /* border: 1px solid #f2a541; */
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
     padding: 20px; 
}
.highlight {
    font-weight: bold;
}
/*------------- Navigation menu + hamburger menu------------------*/
nav {
	margin: 0 auto;
	background-color: #000;
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}
/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
  .responsive li {
	display: block;
}


footer {
    background-color: #f3ca40;
    text-align: center;
    padding: 0.5em;
    /* margin: 200px; */
    padding: 0.75rem;
    margin: 0 auto;
    margin-top: 1em;

}

table, th, td {
    border: 1px solid black;

}

#map {
    display: none;
}
#forecast {
    display: none;
}

/* ----------------------- FORM ------------------------ */

form {
    max-width: 500px;
    margin: 0 auto;
}

form div {
    margin-top: 10px;
}

label {
    display: inline-block;
    min-width: 150px;
}

#stormCenter {
    color: white;
    background-color: #97c4bd;
    width: 60%;
    padding: 30px;
    margin-bottom: 1em;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

#ratingvalue {
    margin: 0 15px;
}

#rating {
    margin-left: 23px;
}

main h2{
    text-align:center;
    padding: 20px;
    color:black;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}











/* -----------------------HERO IMAGE ------------------------ */

h1 {
    text-align: center;
    font-size:2.5rem;
    text-shadow:3px 3px 5px #777;
}

.active {
    background-color:black;
}

.herodiv {margin: 10px auto;position: relative;}
h1, h2, p {margin: 0;}

.stats {
	position: absolute;
	top: 25px;
	right: 470px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
    opacity: .8;
    display: flex;
    flex-direction: column;
}
.no-margin {
    margin: 3px;
}



.align-top{
    vertical-align: top;
}


#weatherSummary {
    background-color: pink;
    max-width: 180px;
    padding: 10px;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr;
}
#gallery img {
    filter: blur(.1em);
    transition: filter 0.5s;
}

#gallery img:hover{
    box-shadow:0 0 20px black;
    -webkit-transition: 0.4s;
    filter: blur;
}


