@media only screen and (min-width: 1024px) {
    .navigation li {
		display: block;
        flex: 1 1 100%;
        margin-left: 0 auto;


    }
    iframe {
        width:500px;
        height: 500px;
    }

    p{
      font-size: 20px; 
    }

    h2, h1{
        font-size: 40px;
    }


img {
    width:500px;
    margin: 0;
}

#service img {
    width: 500px;
 }
    }